GOOGLE_OAUTH_CLIENT_SECRET=
PUBLIC_GOOGLE_OAUTH_CLIENT_ID=
ADMIN_EMAIL=
PUBLIC_ORGANIZATION_DOMAIN=

PUBLIC_RECEPIENT_EXPECTED_PROXY=
PUBLIC_RECEPIENT_EXPECTED_PROXY_VALUE_ENDING=
PUBLIC_RECEPIENT_NAME_ENG=
PUBLIC_RECEPIENT_NAME_THAI=
SLIP_OK_API_ENDPOINT=
SLIP_OK_API_KEY=
AUTHENTICATION_METHOD=JWT | SESSION